In [1]:
#importing necessary libraries
import pandas as pd
import re
from bs4 import BeautifulSoup as sp
import json
import requests

In [2]:
r = requests.get('https://finance.yahoo.com/most-active')

In [3]:
soup = sp(r.text, 'html.parser')

#locating the most active stocks table
tb = soup.find('table')

#locating my table heads for columns
theads = tb.thead.tr.contents

#looping throught the text for the names
column_names = [c.string for c in theads]

In [4]:
#getting column names
column_names

[None,
 'Name',
 'Price (Intraday)',
 'Change',
 '% Change',
 None,
 'Avg Vol (3 month)',
 'Market Cap',
 'PE Ratio (TTM)',
 '52 Week Range']

In [5]:
original_list = [None, 'Name', 'Price (Intraday)', 'Change', '% Change', None, 'Avg Vol (3 month)', 'Market Cap', 'PE Ratio (TTM)', '52 Week Range']
new_list = ['symbol' if x is None and i == 0 else 'volume' if x is None and i == 5 else x for i, x in enumerate(original_list)]

In [6]:
new_list

['symbol',
 'Name',
 'Price (Intraday)',
 'Change',
 '% Change',
 'volume',
 'Avg Vol (3 month)',
 'Market Cap',
 'PE Ratio (TTM)',
 '52 Week Range']

In [7]:
#table body looping (data)

table_rows = tb.find("tbody").find_all("tr")
l = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [str(tr.get_text()).strip() for tr in td]
    l.append(row)

In [8]:
df = pd.DataFrame(l, columns=new_list)
df.head()

,symbol,Name,Price (Intraday),Change,% Change,volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM),52 Week Range
0,TSLA,"Tesla, Inc.",197.79,+6.89,+3.61%,153.772M,179.936M,625.827B,56.84,
1,F,Ford Motor Company,13.08,+0.53,+4.22%,80.08M,62.259M,52.139B,N/A,
2,AI,"C3.ai, Inc.",28.48,+7.17,+33.65%,75.355M,15.407M,3.196B,N/A,
3,AAPL,Apple Inc.,151.03,+5.12,+3.51%,70.661M,73.47M,2.39T,24.68,
4,ABEV,Ambev S.A.,2.5200,0.0000,0.00%,63.052M,26.641M,39.891B,16.80,