In [1]:
#importing necessary libraries
import pandas as pd
from bs4 import BeautifulSoup as sp
import requests

In [2]:
#empty set
l = []

#loop through pages
for i in range(1, 175, 25):
    r = requests.get(f'https://finance.yahoo.com/most-active?count=25&offset={i}')
    soup = sp(r.text, 'html.parser')

    # locating the most active stocks table
    tb = soup.find('table')

    # locating my table heads for columns
    theads = tb.thead.tr.contents

    # looping through the text for the names
    column_names = [c.string for c in theads]

    original_list = [None, 'Name', 'Price (Intraday)', 'Change', '% Change', None, 'Avg Vol (3 month)', 'Market Cap', 'PE Ratio (TTM)', '52 Week Range']
    new_list = ['symbol' if x is None and i == 0 else 'volume' if x is None and i == 5 else x for i, x in enumerate(original_list)]

    # table body looping (data)
    table_rows = tb.find("tbody").find_all("tr")
    for tr in table_rows:
        td = tr.find_all('td')
        row = [str(tr.get_text()).strip() for tr in td]
        l.append(row)

In [3]:
df = pd.DataFrame(l, columns=new_list)
df.head()

,symbol,Name,Price (Intraday),Change,% Change,volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM),52 Week Range
0,TSLA,"Tesla, Inc.",182.00,-5.71,-3.04%,151.898M,182.386M,575.866B,52.45,
1,RIVN,"Rivian Automotive, Inc.",15.13,+0.49,+3.35%,76.218M,29.094M,13.366B,N/A,
2,DSEY,"Diversey Holdings, Ltd.",8.18,+2.23,+37.48%,72.394M,"418,958",2.738B,N/A,
3,AMD,"Advanced Micro Devices, Inc.",85.37,+3.26,+3.97%,68.98M,56.265M,137.564B,98.13,
4,NVDA,NVIDIA Corporation,241.81,+8.93,+3.83%,50.713M,48.509M,602.591B,102.90,

In [4]:
df.shape

(175, 10)